/* .App {
  font-family: sans-serif;
  text-align: center;
}

.col {
  width: 25%;
  display: inline-block;
}

.col input {
  display: block;
  width: 100%;
}

@media screen and (max-width: 360px) {
  .col {
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 720px) {
  .col {
    width: 50%;
  }
} */
